<!DOCTYPE html>
<html ng-app="questionBank">

<head>
   <!-- setup our page to be responsive.  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <title>   Dinamik Soru        </title>

    <link rel="stylesheet" href="css/mystyle.css">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <!-- <script src="mycod.js"> </script>-->

</head>
<body>
  <!--  <h1>Hello World!</h1>
    <p>trying out bootstrap</p>  -->

  <!-- nav bar application -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
         <div class="navbar-header">
              <a class="navbar-brand" href="#"> Dinamik Soru</a>
              <!--adding responsive navbar -->
              <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                 data-target="#navbar"
                  aria-expanded="false"
                   aria-controls="navbar">
                <span class="sr-only"> Toggle Navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <!-- id navbar used as data target -->
          <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav"><li>
                      <a href="index.html">
                      <span class="glyphicon glyphicon-home"
                        aria-hidden="true"></span> Ana Sayfa </a></li>

                      <li class="active"><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span>  Deneme </a></li>
                      <!-- creating a dropdown Menu -->
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                            role="button"
                             aria-haspopup="true"
                              aria-expanded="false">
                              <span class="glyphicon glyphicon-list-alt"
                                aria-hidden="true"></span>
                            Menu
                            <span class="caret"> </span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#"> Appetizers</a></li>
                              <li><a href="#"> Main Courses</a></li>
                              <li><a href="#"> Drinks</a></li>
                              <li role="separator" class="divider"></li>
                              <li class="dropdown-header">Specials</li>
                              <li><a href="#"> Lunch Buffet</a></li>
                              <li><a href="#"> Weekend Brunch</a></li>
                            </ul>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"> Sign in </a></li>
                    <li><a href="#"> Contact </a></li>
                  </ul>
          </div>
    </div>
</nav>

<header class="jumbotron">
  <div class="container">
    <div class="row row-header">
         <!--screen divided to 12 columns
            xs for xtra small screens-->
      <div class="col-xs-12 col-sm-8" ng-controller="QuestionController as soruCtrl">

             <img ng-repeat="soru in soruCtrl.ozellikler" ng-src="{{soru.imageUrl}}" class="img-responsive" alt="kaplanlar" max-width:"100%" height="auto" >
             <P>{{4+5}}</p>
             <p style="padding:40px;"></p>
             <p ng-repeat="soru in soruCtrl.ozellikler">{{soru.description}}</p>
             <div class="col-xs-12 col-sm-4">
               <!-- for logo -->
             </div>

    </div>
  </div>
</header>
<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel">
    </div>
    <!--
    <div class="panel">
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#collapsible-1" data-parent="#accordion" ><span class="pull-left">Cevap 1</span></button>
        <div id="collapsible-1" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           <img src="images/cookies.jpg" class="img-responsive" alt="cookies" max-width:"100%" height="auto" >
        </div>
    </div>
  -->
    <div class="panel" ng-controller="QuestionController as soruCtrl"  >
     <button class="btn btn-danger btn-lg btn-block"
             ng-repeat="soru in soruCtrl.ozellikler">{{soru.description}}</button>

       <div ng-controller="SecenekController as secCtrl"
            ng-init=" isCollapsed =true" >
              <div ng-repeat="secenek in secCtrl.ozel">
                  <button class="btn btn-info btn-lg btn-block"
                          ng-click="isCollapsed = !isCollapsed">
                          {{secenek.name}}   <!-- dogruluk: {{secenek.cozum}} collapse: {{isCollapsed}} --> </button>

                          <div collapse="isCollapsed">
                               <div ng-show="!isCollapsed">
                               {{secenek.cozumtext}}
                               {{secenek.isSelected =!isCollapsed;'' }}
                      <!--        {{secenek.isSelected}} -->
                               </div>
                          </div>
              </div>
       </div>

       <div class="panel">
         <button class="btn btn-default btn-lg btn-block"
         ng-init="count=true"
         ng-click="count=!count"
         ng-show="soruCtrl.ozellikler[0].secenekler[0].cozum===true">
         secenek 1 dogru ve collapse {{count}}</button>
         <div collapse="count">
           <div ng-show="!count">
           lets see if it is collapsed.
           </div>
         </div>
       </div>
    </div>

  </div>
  </div>
</div>

<footer class="row-footer">
     <div class="container">
       <div class="panel" ng-controller="SecenekController as secCtrl">
           <button class="btn btn-default btn-sm btn-block"
                   ng-repeat="secenek in secCtrl.ozel"
                   ng-show="secenek.isSelected ===true && secenek.cozum===true">
                   Sonraki soruya geçebilirsin <!-- {{ secenek.isSelected }}--></button>

       </div>


       <div class="row">
              <div class="col-xs-12 col-sm-3">
                ..
              </div>
              <div class="col-xs-12 col-sm-5">
                ..
              </div>
              <div class="col-xs-12 col-sm-4">
                  <div style="padding:40px 10px;">
                  ..
                  </div>
              </div>
        </div>
        <div class ="col-xs-12">
            <p style="padding:10px;"></p>
            <P align=center> @ Copyright 2017 Ristorante Confusion </p>
        </div>
    </div>
 </footer>
<!--   <script>
      suprise();
   </script>
-->
<!-- at the end of body adding the jscript library. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>

</body>

</html>
